.creators div {
  display: inline-block;
  font-size: 18pt;
  color: #e57a9b;
  position: relative;
  text-align: center;
  color: white;
}
.creators .persons {
  padding: 12px;
  margin: 18px;
}
.creators {
  background-color: #c6ecc7;
  font-size: 12pt;
  height: 100%;
  font-family: "Roboto";
}
.creators div p {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.creators div img {
  width: 150px;
  height: 150px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-bottom: 20px;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 2px 10px #e57a9b;
}
.creators div:hover img {
  width: 170px;
  height: 170px;
  opacity: 0.2;
}
.creators div:hover p {
  font-size: 22pt;
  opacity: 1;
  color: #1f33f6;
}
.contact-links ul {
  text-align: center;
  align-items: center;
  display: flex;
}
.contact-links ul li {
  list-style-type: none;
  text-decoration: none;
  font-size: 12pt;
  display: flex;
}
.contact-links ul li a {
  font-size: 20pt;
  color: #e57a9b !important;
  margin: 5px;
}
.contact-links ul li a:hover {
  font-size: 22pt;
  color: #1f33f6 !important;
  text-decoration: none;
}
.contact-links ul li a p {
  color: #e57a9b;
}
.about-paws {
  height: 100vh;
  text-align: center;
  background-color: #101b5f;
  font-family: "Roboto";
}
#contact .about-paws h1 {
  color: #c6ecc7;
  font-size: 60pt;
  padding-top: 30px;
  font-family: "Roboto";
}
.about-paws img {
  width: 80px;
}
.about-paws p {
  font-size: 20pt;
  color: #e57a9b;
  font-weight: lighter;
  padding-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.about-paws .header {
  text-align: center;
}
.contact-button {
  color: #e57a9b;
  position: relative;
}

.button-contact-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
