@import "./Global.scss";
/* FOOTER */

footer {
  background-color: $pink;
  height: 30vh;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer p {
  color: $light-green;
  font-size: 1.3rem;
  padding-left: 10%;
  line-height: 1.4rem;
  width: 50%;
  font-weight: $medium;
}

footer span {
  font-size: 0.7rem;
  padding-left: 10%;
  color: $dark-blue;
  width: 50%;
}
