form {
  background-color: #e57a9b;
  min-height: 20vh;
  border-top: #101b5f solid;
  border-width: 1.25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn--section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0a56b;
  height: 30vh;
  flex-direction: column;
  margin-bottom: 30%;
}
.btn {
  border-radius: 0px;
  width: 60vw;
  color: #fff;
  background-color: #f0a56b;
  margin-top: 2%;
  max-height: 70px;
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
  max-width: 22em;
  position: relative;
  box-sizing: border-box;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-image-source: linear-gradient(
    40deg,
    #e57a9b 0%,
    #f0a56b 40%,
    #f0a56b 60%,
    #1e8059 100%
  );
  border-image-slice: 1;
  opacity: 1;
  border-width: 1.25vw;
  border-style: solid;
  border-color: initial;
  transition: opacity 0.6s ease-out 0.6s;
}
.btn:hover {
  color: #fff;
  transition: 0.5s;
  background: linear-gradient(
    40deg,
    #e57a9b 0%,
    #f0a56b 40%,
    #f0a56b 60%,
    #1e8059 100%
  );
}
