h1 {
  font-size: 15vw;
  color: #fff;
  z-index: 1000;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#header {
  height: 100vh;
}
main {
  display: block;
}
section {
  padding: 24px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 93vh;
}
.bg--main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #1e8059;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .bg--main {
    height: 80vh;
  }
}
@media screen and (max-width: 600px) {
  .bg--main {
    height: 60vh;
  }
}
.frame--main {
  width: calc(100% - 16vw);
  height: calc(100% - 16vw);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8vw;
  left: 8vw;
  z-index: 2;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-image-source: linear-gradient(
    40deg,
    #f0a56b 0%,
    #1e8059 40%,
    #1e8059 60%,
    #e57a9b 100%
  );
  border-image-slice: 1;
  opacity: 1;
  border-width: 1.25vw;
  border-style: solid;
  border-color: initial;
  transition: opacity 0.6s ease-out 0.6s;
}
.circle--corner {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 2;
  opacity: 1;
  background-color: #e57a9b;
  border-width: 1.25vw;
  border-style: solid;
  border-image: initial;
  border-radius: 50%;
  transition: opacity 0.6s ease-out 0.6s;
  border-color: #f0a56b;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .circle--corner {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 2;
    opacity: 1;
    background-color: #e57a9b;
    border-width: 1.25vw;
    border-style: solid;
    border-image: initial;
    border-radius: 50%;
    transition: opacity 0.6s ease-out 0.6s;
    border-color: #f0a56b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .circle--corner {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    opacity: 1;
    background-color: #e57a9b;
    border-width: 1.25vw;
    border-style: solid;
    border-image: initial;
    border-radius: 50%;
    transition: opacity 0.6s ease-out 0.6s;
    border-color: #f0a56b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.circle--corner:nth-child(3) {
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
}
.circle--corner:nth-child(4) {
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
}
.circle--corner:nth-child(5) {
  bottom: 0px;
  right: 0px;
  transform: translate(50%, 50%);
}
.circle--corner:nth-child(6) {
  bottom: 0px;
  left: 0px;
  transform: translate(-50%, 50%);
}
.circle--corner:nth-child(3) img {
  position: relative;
  right: -20%;
  top: 20%;
  width: 30%;
}
.circle--corner:nth-child(4) img {
  position: relative;
  right: 20%;
  top: 20%;
  width: 30%;
}
.circle--corner:nth-child(5) img {
  position: relative;
  right: 20%;
  top: -20%;
  width: 30%;
}
.circle--corner:nth-child(6) img {
  position: relative;
  right: -20%;
  top: -20%;
  width: 30%;
}
@media (prefers-reduced-motion: no-preference) {
  .circle--corner img {
    animation: App-logo-spin infinite 10s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .panda {
    animation: App-logo-spin infinite 10s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.panda {
  width: 70%;
  height: 60vh;
}
@media screen and (max-width: 900px) {
  .panda {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .panda {
    width: 90%;
  }
}
