body {
  margin: 0;
  font-size: 1rem;
  font-weight: 600 !important;
  line-height: 1.5;
  color: white !important;
  text-align: left;
  background-color: black !important;
  font-family: "Montserrat" !important;
}

.App-logo {
  height: 60vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background: #000000;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  background-color: black;
}

.App h1 {
  font-size: 9vw;
  font-family: "Montserrat";
  max-width: 50%;
  font-weight: 900;
}

.App h2 {
  font-size: 4vw;
  padding-top: 4vw;
  font-family: "Montserrat";
}

.container {
  padding-top: 7vw;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Articles

body {
  background-color: black;
}
html {
  background-color: black;
}

img {
  width: 100%;
  height: 220px;
}

a {
  color: #c6ecc7 !important;
}

a:hover {
  color: black;
}

button:focus {
  outline: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ff0055;
  height: 90px;
  padding: 30px;
  color: white;
  margin-bottom: 2rem;
}

.App-title {
  font-size: 1.5em;
}

.article_buttons {
  border: solid 2px #c6ecc7;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

.article_buttons:hover {
  background-color: #c6ecc7;
}

.article_buttons a:hover {
  color: black;
}

.articles__box {
  background: #1f33f6;
  border: solid 2px #e57a9b;
  padding-bottom: 2rem;
  box-shadow: -1px 2px 34px -13px white(0, 0, 0, 0.75);
  text-align: left;
  overflow: hidden;
}

.article__text {
  margin-left: 15px;
}

.articles__title {
  color: #e57a9b;
  font-size: 1.1rem;
  padding: 1.8rem 0 0.2rem 0;
}

.articles__subtitle {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 0.5rem;
  letter-spacing: 2px;
}

.articles__subtitle span {
  color: #e57a9b;
  text-transform: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.form__input {
  background: transparent;
  border: 0;
  border: solid 2px #c6ecc7;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 10%;
  padding: 0.4rem;
  color: white;
}

.form__button {
  border: solid 2px #f72143;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
  color: white;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}

/******** Article.js ********/

.active-article {
  margin: 0 auto;
  width: 60%;
}

.active-article__img {
  height: 500px !important;
}

.active-article__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 1rem 0;
}

.active-article__publisher,
.active-article__website {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.active-article__publisher span {
  text-transform: none;
  font-weight: 300;
  letter-spacing: 2px;
  margin-left: 5px;
}

.active-article__website span {
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: #f72143;
  margin-left: 10px;
}

.active-article__button {
  border: solid 2px #f72143;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

/* LOGO */

.navbar {
  font-family: "Abril Fatface";
  color: white;
}

.navbar span {
  font-size: 3vw;
  max-width: 40%;
}

nav a {
  color: white;
  font-size: 2vw;
  padding-right: 5%;
  padding-left: 5%;
}

.nav {
  height: 300px;
  color: white;
}

.navbar__brand-img {
  width: 7vw;
}

.nav-text-small {
  font-size: 1vw;
  padding-bottom: 10%;
}

/* HEADER */

.header-hero .jumbotron {
  background-image: url("./components/her-01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

/* HERO */

.mission-hero {
  height: 60vh;
  background-color: black;
  text-align: left;
  color: white;
  font-size: 3vw;
}

.mission-headline {
  color: #f72143;
  padding-bottom: 50px;
}
